{{ $time := where .Page.Pages "Params.type" "timeline" }}

{{ range $t := $time }}
    {{ $timeline := where $t.Page.Pages "Params.type" "timeline" }}

    {{ if gt (len $timeline) 0 }}
        <svg display="none">
            <symbol id="arrow">
                <polyline points="7 10,12 15,17 10" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
            </symbol>
        </svg>

        {{ range $timeline.ByWeight }}
            {{ partial "list-timeline.html" . }}
        {{ end }}
    {{ end }}
{{ end }}